html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.biomarkerName {
  color: red;
}

.long_name {
  font-size: 0.7rem;
}
.pathType {
  font-size: 0.7rem;
  background-color: green;
}

.long {
  font-size: 0.5rem;
}
